<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>我的收益</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/indexTel.css">
    <link rel="stylesheet" href="/css/indexEarnings.css">
    <script>
        var offWidth = window.screen.width / 3.75;
        document.getElementsByTagName("html")[0].style.fontSize = offWidth + 'px';
    </script>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js" charset="utf-8"></script>

    <script src="/js/config.js" charset="utf-8"></script>
    <script src="/js/wx.js" charset="utf-8"></script>
    <script src="/js/indexTel.js" charset="utf-8"></script>

    <script src="/js/indexEarnings.js" charset="utf-8"></script>
</head>

<body>
    <div class="earnings">
        <div class="earnings-top">
            <p>你的当前收益</p>
            <p><span></span> 元</p>
        </div>
        <div style='height:1.2rem;'></div>
        <div class="earnings-c">
            <p>收益明细</p>
        </div>
    </div>

    <!-- 手机号 -->
    <div class="bindNumber">
        <div class="bindNumberC">
            <p>绑定手机号</p>
            <p class="mobileNumber">
                <img src="img/tel.png" alt="">
                <input type="text" name="" value="" placeholder="请输入您的手机号">
            </p>
            <p class="mobileCode">
                <img src="img/code.png" alt="">
                <input type="text" name="" value="" placeholder="请输入验证码"  maxlength = "6">
                <span>获取验证码</span>
            </p>
            <p class="sendNumber">绑定</p>
        </div>
    </div>

</body>


</html>




<!--
<div class="earnings-list">
    <div class="earnings-list-l">
        <img src="./img/bkg.png" alt="">
        <div class="earnings-list-l-div">
            <p>拜师奖励</p>
            <p>2091-23-23 21:12:21</p>
        </div>
    </div>
    <div class="earnings-list-r">1.00元</div>
</div>
<div class="earnings-list">
    <div class="earnings-list-l">
        <img src="./img/bkg.png" alt="">
        <div class="earnings-list-l-div">
            <p>拜师奖励 <span>徒弟</span> </p>
            <p>2091-23-23 21:12:21</p>
        </div>
    </div>
    <div class="earnings-list-r">1.00元</div>
</div>
<div class="earnings-list">
    <div class="earnings-list-l">
        <img src="./img/bkg.png" alt="">
        <div class="earnings-list-l-div">
            <p>拜师奖励 <span style='background:#FF4D4F;'>徒孙</span> </p>
            <p>2091-23-23 21:12:21</p>
        </div>
    </div>
    <div class="earnings-list-r">1.00元</div>
</div> -->
