<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>发朋友圈</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/swiper.min.css">

    <link rel="stylesheet" href="/css/indexTel.css">
    <link rel="stylesheet" href="/css/indexShare.css">
  <!-- <link rel="stylesheet" href="./css/indexShare.css"> -->
    <script>
        var offWidth = window.screen.width / 3.75;
        document.getElementsByTagName("html")[0].style.fontSize = offWidth + 'px';
    </script>
    <script src="https://res2.wx.qq.com/open/js/jweixin-1.4.0.js" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js" charset="utf-8"></script>
    <script src="/js/swiper.animate.min.js" charset="utf-8"></script>
    <script src="/js/swiper.min.js" charset="utf-8"></script>
    <script src="/js/clipboard.js" charset="utf-8"></script>
    <script src="/js/config.js" charset="utf-8"></script>
    <script src="/js/wx.js" charset="utf-8"></script>
    <script src="/js/indexTel.js" charset="utf-8"></script>

    <script src="/js/indexShare.js" charset="utf-8"></script>
</head>

<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="swiperDiv">
                  <img src="share.html" alt="">
              </div>
              <div class="swiper-slide-bottom">
                <p class="swiperDiv-p">
                    <span></span>
                    <span>长按图片保存到相册</span>
                    <span></span>
                </p>
                <div class="swiperDiv0">
                    <p>天上下雨地下滑，命运奥秘很复杂，施主，请留步，预知前程事，可用AI智能对话算命---多算算</p>
                </div>
                <p class="copyText" data-clipboard-text="">复制文案</p>
              </div>
          </div>
            <div class="swiper-slide">
                <div class="swiperDiv">
                    <img src="share.html" alt="">
                </div>
                <div class="swiper-slide-bottom">
                  <p class="swiperDiv-p">
                      <span></span>
                      <span>长按图片保存到相册</span>
                      <span></span>
                  </p>
                  <div class="swiperDiv1">
                      <p>过错是暂时的遗憾，而错过则是永远的遗憾！AI智能对话算命负责帮我探听天命</p>
                  </div>
                  <p class="copyText" data-clipboard-text="">复制文案</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiperDiv">
                    <img src="share.html" alt="">
                </div>
                <div class="swiper-slide-bottom">
                  <p class="swiperDiv-p">
                      <span></span>
                      <span>长按图片保存到相册</span>
                      <span></span>
                  </p>
                  <div class="swiperDiv2">
                      <p>真神了！连我哪一年结的婚，什么时候有孩子都能看出来，这个人工智能算命有点炸！</p>
                  </div>
                  <p class="copyText" data-clipboard-text="">复制文案</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" style="font-size:0;"></div>
    </div>

    <!-- 手机号 -->
    <div class="bindNumber">
        <div class="bindNumberC">
            <p>绑定手机号</p>
            <p class="mobileNumber">
                <img src="/img/tel.png" alt="">
                <input type="text" name="" value="" placeholder="请输入您的手机号" >
            </p>
            <p class="mobileCode">
                <img src="/img/code.png" alt="">
                <input type="text" name="" value="" placeholder="请输入验证码" maxlength = "6">
                <span>获取验证码</span>
            </p>
            <p class="sendNumber">绑定</p>
        </div>
    </div>
</body>

</html>
