@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 0;
}


/* 开屏 */

.start {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #150B38;
}

.start-c>p {
    display: none;
}

.start>img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.start-c {
    position: absolute;
    z-index: 10;
    left: .3rem;
    top: 40%;
    transform: translateY(-50%);
    height: 2.75rem;
}

.start0, .start1, .start2 {
    font-size: .18rem;
    line-height: .3rem;
    color: #f2f2f2;
    letter-spacing: 2px;
    text-shadow:0px 2px 10px rgba(0,251,207,0.85);
    font-weight: 500;
}

.start2, .start1 {
    margin-top: .5rem;
}

.start3 {
    position: absolute;
    bottom: .6rem;
    width: calc(100% - .6rem);
    font-size: .18rem;
    line-height: .25rem;
    padding: .1rem 0;
    text-align: center;
    border-radius: .35rem;
    color: #150B38;
    background: #00FBCF;
    font-weight: 500;
    z-index: 10;
    left: .3rem;
    display: none;
}

.startImg {
    animation: startImg 5s 0s linear infinite;
}

@keyframes startImg {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.6;
    }
    100% {
        opacity: 0.2;
    }
}


/* 中间 */

.gifMin, .gifFir {
    position: fixed;
    z-index: 100;
    background: rgba(25, 12, 59, 1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    font-size: 0;
}

.gifMin-s {
    animation: gifMin-s 1s 1s linear;
    animation-fill-mode: forwards;
}

@keyframes gifMin-s {
    0% {
        background: rgba(25, 12, 59, 1);
    }
    100% {
        background: rgba(25, 12, 59, 0);
    }
}

.gifMin-ss {
    animation: gifMin-s .5s 0s linear;
    animation-fill-mode: forwards;
}

@keyframes gifMin-ss {
    0% {
        background: rgba(25, 12, 59, 0);
    }
    100% {
        background: rgba(25, 12, 59, 1);
    }
}

.gifMin0, .gifMin0-I, .gifMin0-s, .gifMin1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.gifMin0 {
    width: 100%;
    z-index: 100;
    display: none;
}

.gifMin0-I {
    width: 100%;
    z-index: 110;
    display: none;
}

.gifMin0-s {
    display: block;
    animation: gifMin0 .8s 0s linear;
    animation-fill-mode: forwards;
}

video {
    width: 100%;
    height: 100%;
}

@keyframes gifMin0 {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) scale(0) rotate(700deg);
    }
}

.gifMin1 {
    width: 1.5rem;
    height: 1.5rem;
    transform: translate(-50%, -50%) scale(0);
}

.gifMin1-s {
    animation: gifMin1 3.2s 1s linear;
    animation-fill-mode: forwards;
}

@keyframes gifMin1 {
    0% {
        transform: translate(-50%, -50%) scale(0) rotate(0deg);
    }
    20% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    40% {
        transform: translate(-50%, -50%) scale(0) rotate(0deg);
    }
    60% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
    }
    80% {
        transform: translate(-50%, -50%) scale(1) rotate(0deg);
        top: 50%;
        left: 50%;
    }
    100% {
        transform: translate(-50%, -50%) scale(.3) rotate(0deg);
        top: calc(100% - .5rem);
        left: calc(100% - 1rem);
        visibility: hidden;
    }
}

.gifMin2 {
    position: absolute;
    display: inline-block;
    padding: .05rem .3rem;
    font-size: .16rem;
    line-height: .22rem;
    color: #150B38;
    background: #00fbcf;
    border-radius: .18rem;
    text-align: center;
    cursor: pointer;
    bottom: .6rem;
    right: .3rem;
    transform: scale(0);
}

.gifMin2-s {
    animation: gifMin2 .5s 3.9s linear;
    animation-fill-mode: forwards;
}

@keyframes gifMin2 {
    0% {
        transform: scale(0, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}
